* {
  margin: 0;
  padding: 0;
}

body {
  margin: auto;
  padding: 0%;
  background-image: url("../img/bcg.png");
  background-color: #e8e8e4;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: "Segoe UI", sans-serif;
}

.home-square {
  margin: 0 auto;
  height: 400px;
  width: 650px;
  /* background-color: lightgray; */
  margin-top: 150px;
}

.home-logo {
  display: block;
  margin: 0 auto;
  width: 400px;
}

#APIKey {
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  font-size: 15px;
  margin-left: 60px;
  width: 500px;
  height: 40px;
  border: 3px solid #323232;
  background-color: rgba(255, 255, 255, 0.5);
}

#btn-search {
  display: none;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}
i {
  font-size: 30px;
  padding-left: 10px;
  vertical-align: middle;
}

.input-desc {
  text-align: center;
  color: #adadad;
  margin-top: 10px;
}

.copyright {
  font-size: 10px;
  text-align: center;
  color: #3232324f;
  position: absolute;
  bottom: 5%;
  vertical-align: bottom;
  width: 100%;
}

.errorParagraph {
  color: #b30000;;
  font-weight: bold;
  text-align: center;
  margin-top: 15px;
}

.glyphicon {
  margin-bottom: 8px;
}

/*--------SECOND SCREEN --------------*/
.detail-menu {
  width: 100%;
}

.btn-home {
  display: inline-block;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  padding-top: 10px;
}

.btn-home i {
  color: #a0a0a0d8;
  font-size: 20px;
}

.btn-home i:hover {
  color: #323232;
}

#infoAPIKey {
  display: inline-block;
  padding-top: 10px;
  padding-left: 15px;
  font-weight: bold;
  font-size: 13px;
  color: #797979d8;
}

.right-logo {
  float: right;
  width: 150px;
}

.detail-btn-square {
  margin: 0 auto;
  width: 350px;
  height: 30px;
  /* background-color: lightgray; */
  margin-top: 50px;
}

#dropdown-currencies {
  display: block;
  margin: 0 auto;
  text-align: center;
  float: left;
  width: 150px;
  height: 30px;
  text-align-last: center;

  background-color: rgba(255, 255, 255, 0.5);
  background-repeat: no-repeat;
  border: 3px solid #323232;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  font-weight: bold;
}

option {
  text-align: center;
  font-weight: bold;
}

#btn-export {
  display: block;
  margin: 0 auto;
  text-align: center;
  float: right;
  width: 150px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.5);
  background-repeat: no-repeat;
  border: 3px solid #323232;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  font-weight: bold;
}

/* #btn-export:hover{
    background-color: rgba(228, 228, 228, 0.4);
} */

.errorHandler {
  color: #b30000;;
  font-weight: bold;
  text-align: center;
  padding-top: 70px;
}

#chartContainer{
  margin: 0 auto;
  margin-top: 50px;
  width: 80%;
  height: 600px;
  display: none;
}

/* STATEMENTS (errors, first log) */

.errorHandlerFirstLog{
  color: #4a3b06;
  text-align: center;
  font-size: 19px;
  font-weight: bold;
}

.errors-info-square {
  margin: 0 auto;
  width: 700px;
  margin-top: 100px;
}